<nav class="p-4 w-full">
    <ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
        <li>
            <a class = "btn" routerLink="by-capital" routerLinkActive="btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <circle cx="12" cy="12" r="10" />
                        <path d="M19.1 4.9c-1.6-1.6-6 .3-9.9 4.2S3.4 17.4 5 19s6-.3 9.9-4.2c3.8-3.9 5.7-8.3 4.2-9.9" />
                    </g>
                </svg>
                Por capital

            </a>
        </li>
        <li>
            <a class = "btn" routerLink="by-country" routerLinkActive="btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path
                            d="M2.6 10.4a2.12 2.12 0 1 0 3.02 2.98L12 7l6.4 6.4a2.12 2.12 0 1 0 2.979-3.021L13.7 2.7a2.4 2.4 0 0 0-3.404.004Z" />
                        <path d="M14 22v-7a2 2 0 0 0-4 0v7" />
                        <path d="M14 14h6v6a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-6h6m-6 4h6m4 0h6" />
                    </g>
                </svg>
                Por pais

            </a>
        </li>
        <li>
            <a class = "btn" routerLink="by-region" routerLinkActive="btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="m2.16 14.2l3.1-7.4C5.7 5.8 6.8 5 8 5" />
                        <path
                            d="M4 13a2 2 0 0 0-2 2v1c0 1.7 1.3 3 3 3h1c3.3 0 6-2.7 6-6c0 3.3 2.7 6 6 6h1c1.7 0 3-1.3 3-3v-1a2 2 0 0 0-2-2Z" />
                        <path d="m21.83 14.2l-3.1-7.4C18.3 5.8 17.2 5 16 5" />
                    </g>
                </svg>

                Por región

            </a>
        </li>
    </ul>
</nav>