<!--Version anterior-->

@if(false) {

<country-search-input placeholder="Buscar por capital de país"
    (custom_value)="custom_onSearch($event)"></country-search-input>

@if (isError())
{<h3><span class="text text-error">{{isError()}}</span> </h3>}

@else {

<country-list [countries]="custom_result_request_API_countries()"></country-list>

}

}
<!--Version moderna con resources-->

<country-search-input placeholder="Buscar por capital de país"
    (custom_value)="query.set($event)"></country-search-input>

@if (countryResource.error())
{<h3><span class="text text-error">{{countryResource.error()}}</span> </h3>}

@else {

@if(countryResource.hasValue()){

<country-list [countries]="countryResource.value()"></country-list>

}

}